<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp | Home</title>
    <link rel="stylesheet" href="http://localhost:3000/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="./Content/favicon_io/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:3000/scripts/selectscript.js" defer></script>
</head>

<body style="text-align: center;">
    <h1>404</h1>
    <h4>Oops!</h4>
    <p>It looks like the page you are looking for does not exist!</p>
</body>

</html>