* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #abd9e9;
    font-family: Arial;
}

#container {
    width: 70%;
    height: calc(100vh - 1.5rem);
    background: #eff3f7;
    margin: 0 auto;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
}

aside {
    width: 30%;
    height: 100%;
    background-color: #3b3e49;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

main {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

aside header {
    padding: 30px 0 30px 40px;
}

aside header div {
    display: flex;
}

aside input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 50px 0 20px;
    background-color: #5e616a;
    border: none;
    border-radius: 3px;
    color: #fff;
}

aside img {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    right: 2.5rem;
    top: 5px;
}

aside input::placeholder {
    color: #fff;
}

aside ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: auto;
    height: 100%;
}

aside li {
    padding: 5px;
    margin: 5px 20px 5px 20px;
    border-radius: 4px;
    height: fit-content;
}

aside li:hover {
    background-color: #5e616a;
}

h2,
h3 {
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
    color: #5e616a;
}

aside h2 {
    color: #eff3f7;
    padding: 10px 0;
}

.text-center {
    text-align: center;
}

aside li div {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    width: 100%;
}

aside li h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 150;
    margin-bottom: 5px;
    padding: 0;
}

aside li h3 {
    font-size: 12px;
    color: #7e818a;
    font-weight: normal;
    float: right;
    width: 100%;
}

.status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.green {
    background-color: #58b666;
}

.orange {
    background-color: #ff725d;
}

.blue {
    background-color: #6fbced;
    margin-right: 0;
    margin-left: 7px;
}

main header {
    display: flex;
    height: fit-content;
    padding: 10px
}

main header div {
    margin: 0 10px;
    width: 100%;
}

#profile-container {
    width: 30%;
    border-left: 1px solid black;
}

main header div p {
    margin: 0 0 0 5px;
    padding: 0;
    color: #7e818a;
}

#profile-container h2 {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: right;
    padding: 0;
    margin: 0;
}

#profile-container a {
    float: right;
    text-decoration: none;
    color: inherit;
    padding: 5px 0 0 0;
    font-size: 12px;
}

main header h2 {
    font-size: 1.2rem;
    margin: 10px
}

main header h3 {
    font-size: 14px;
    font-weight: normal;
    color: #7e818a;
}

#chat {
    padding-top: 1rem;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y:scroll;
    height: calc(75vh);
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 100%;
}

#chat li {
    padding: 10px 30px;
}

#chat h2,
#chat h3 {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

#chat h3 {
    color: #bbb;
}

#chat .entete {
    margin-bottom: 5px;
}

#chat h2 {
    font-size: 1.2rem;
}

#chat .message {
    padding: 20px;
    color: #fff;
    line-height: 25px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}

#chat .me {
    text-align: right;
}

#chat .you .message {
    background-color: #58b666;
}

#chat .me .message {
    background-color: #6fbced;
}

#chat .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}

#chat .you .triangle {
    border-color: transparent transparent #58b666 transparent;
    margin-left: 15px;
}

#chat .me .triangle {
    border-color: transparent transparent #6fbced transparent;
    margin-left: calc(100% - 35px);
}

main form div {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 20px 30px 10px 20px;
    margin: auto;
    justify-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

main form div input[type="text"] {
    resize: none;
    border: none;
    width: 85%;
    height: 3rem;
    border-radius: 3px;
    padding: 20px;
    font-size: 20px;
    margin: 0;
}

main form div input[type="text"]::placeholder {
    color: #ddd;
}

main form div input[type="text"]:focus-visible {
    border: none;
}

main form div input[type="submit"] {
    width: 12%;
    height: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #3ca9e2;
    color: #fff;
    vertical-align: top;
    margin: 0 0 0 20px;
    border: none;
    border-radius: 4px;
}

main form div input[type="submit"]:hover {
    background-color: #1f92d1;
}